html, body {

  background-image: url('images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.navbar-ai {
  padding-right: 24px;
  height: 80px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navlinks {
  display: flex;
  gap: 24px;
  flex-direction: row;
  font-size: 18px;
  font-weight: 100;
}

.navlinks a {
  color: white;
  text-decoration: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  color: white;
  margin-left: 100px;
  text-align: center;
}

.titre_p {
  margin-left: 270px;
}

#textarea_title {
    width: 90%;
    resize: none;
    height: 40px
}

#textarea_content {
    width: 90%;
    height: 150px;
    resize: none;
}

div#body_create {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#tag_input {
  width: 55%;
}

h1 {
    text-align: center;
    margin-right: 123px;
}

.create-bloc {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 15px ;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  margin-left: 415px;
  margin-bottom: 100px;
  position: relative;
  padding: 30px
}
