html, body {

  background-image: url('../images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.navbar-ai {
  padding-right: 24px;
  height: 80px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navlinks {
  display: flex;
  gap: 24px;
  flex-direction: row;
  font-size: 18px;
  font-weight: 100;
}

.navlinks a {
  color: white;
  text-decoration: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  color: white;
  margin-left: 280px;
}

#list_event {
  width: 600px;
  margin-left: 500px;
}

div.event {
    border: orange 1px solid;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: right;
    display: flex;
    padding: 0px 37px;
}

div.items {
    /* border: black 1px solid; */
    display: inline-block;
    margin: 7px;
    padding: 7px;
    color: white;
}

div.title {
    display: inline-block;
    text-align: center;
    /* border: red 1px solid; */
    margin: 7px;
    padding: 7px;
    color: white;
}

a#bigtitle {
    display: flex;
    /* border: purple 1px solid; */
    justify-content: left;
    margin-right: auto;
    font-size: 1.5em;
}

a {
    color: black;
    color: white;
}


h1 {
    margin: 10px 20px;
    padding: 0px 37px;
}

p {
    margin: 10px 25px;
    padding: 0px 37px;
}
