html, body{
  height:100%;
  font: 22px "QuicksandLight";
  background-color: rgba(81, 79, 79, 0.949);
}


.event_present_future{


  background-color: rgba(245, 245, 220, 0.703);
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

}

.event_day{
  min-height: 200px;
  background-color: rgba(157, 157, 164, 0.569);

  grid-gap: 15px;
}

.home_search, .event_present_future, .event_day{
  margin-top: 25px;
  border-radius: 5px;
  padding: 15px;
}

.home_search{
  height: 25px;
  min-width:40%;
  border-radius: 25px;
}

.card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card_day {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  grid-gap: 15px;
  margin-top: 10px;
}

.banner {
  padding: 184px 0;
  text-align: center;
  background-image: url(../images/background.jpg);
  background-position: center;
  color: white;
}

 @font-face {
   font-family: "Quicksand";
   src: url('quicksand/Quicksand-BoldItalic.otf');
 }

 @font-face {
   font-family: "QuicksandLight";
   src: url('quicksand/Quicksand-LightItalic.otf');
 }

.event_day .card{
  margin-top: 10px;
}

.element{
  min-height:100px;
}

.color-white{
  color: white;
}

/* footer */
hr {
  background-color: white;
}

.responsive-text {
  overflow-wrap: anywhere;
}
footer{
  margin-top: 25px;
}

/* logo */

.logo{
  background-image: url('../images/all_in_logo.svg');
  height: 60px;
  width: 60px;
}

/* logo */
nav img{
  width: 40px;
  border-radius: 50%;
}

.card_column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
