html,
body {
  font-family: "Nunito";
  height: 100%;
  font-size: 22px;
  /* background: linear-gradient(360deg, rgb(0, 0, 0), rgb(16, 4, 59) 100%); */
}

.homebox {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-ai {
  padding-right: 24px;
  height: 80px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navlinks {
  display: flex;
  gap: 24px;
  flex-direction: row;
  font-size: 18px;
  font-weight: 100;
}

.navlinks a {
  color: white;
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.event_present_future {


  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;

}

.event_day {
  min-height: 200px;
  border-left: 1px solid transparent;
  border-image: linear-gradient(0.5turn, rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 255, 255, 0));
  border-image-slice: 1;
  grid-gap: 15px;
}

.home_search,
.event_present_future,
.event_day {
  margin-top: 25px;
  border-radius: 5px;
  padding: 15px;
}

.home_search {
  height: 25px;
  min-width: 40%;
  border-radius: 25px;
}

.card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card_day {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg);
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  grid-gap: 15px;
  margin-top: 10px;
}

.event_day .card {
  margin-top: 10px;
}

.container-home{
  margin-left: 24%;
}

/* .banner {
  color: white;
  text-align: center;
  background-position: center;
  background-image: url(../images/banner_hp.webp);
  width: 100%;
  background-size: cover;
  object-fit: cover;
  height: 300px;
} */

/* .avatar {
  width: 60px;
  border-radius: 50%;
} */

/* .home_search {
  z-index: 5;
  position: absolute;
  right: 40px;
  bottom: 40px;
  text-align: center;
  width: 448px;
  height: 48px;
  border-radius: 12px;
  padding-left: 24px;
} */
 /* img {
   width: 100%;
   height: 100%;
 } */
/* .mainbox {
  grid-template-areas: "left main right";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.col-left {
  grid-area: left;
}

.col-left img {
  background-size: cover;
  object-fit: cover;
  width: 20vw;
}

.eventbox {
  grid-area: main;
  padding: 40px;
  background-size: cover;
  object-fit: cover;
}

.eventbox img {
  background-size: cover;
  object-fit: cover;
  width: 50vw;
}

.corner-orange {
  grid-area: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.corner-orange img {
  background-size: cover;
  object-fit: cover;
  width: 14vw;
} */
